<section class="banner-bottom-wthree py-md-5 py-3" id="services">
    <div class="container">
        <div class="inner-sec-w3layouts py-md-5 py-3">
            <h3 class="tittle text-center mb-lg-5 mb-3">
                <span data-blast="color">Our</span>Services</h3>
            <div class="row choose-main mb-lg-4">
                <div class="col-lg-6 galsses-grid-right">
                    <!----
                <h5>
                    <span class="post-color">21</span> May 2019</h5>
                 <!---->
                    <h4 class="post mt-3">Lorem ipsum dolor sit amet, adipisicing elit sedc</h4>
                    <div class="line" data-blast="bgColor"></div>
                    <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor
                        incididunt.. </p>
                    <div class="log-in mt-md-4 mt-3">
                        <a class="btn text-uppercase" data-blast="bgColor" href="/static/#">
                            Read More</a>
                    </div>
                </div>
                <div class="col-lg-6 galsses-grid-right">
                    <div class="galsses-grid-left">
                        <figure class="effect-lexi">
                            <img src="/static/images/4.jpg" alt="" class="img-fluid">
                            <figcaption>
                                <h3>Pet
                                    <span data-blast="color">Goorming</span>

                                </h3>
                                <p data-blast="color"> Service 1</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="row choose-main my-lg-4 my-3">
                <div class="col-lg-6 galsses-grid-right mt-lg-4">
                    <div class="galsses-grid-left">
                        <figure class="effect-lexi">
                            <img src="/static/images/5.jpg" alt="" class="img-fluid">
                            <figcaption>
                                <h3>Pet
                                    <span data-blast="color">Training</span>

                                </h3>
                                <p data-blast="color"> Service 2</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-lg-6 galsses-grid-right mt-4">

                    <h4 class="post mt-3">Lorem ipsum dolor sit amet, adipisicing elit sedc</h4>
                    <div class="line" data-blast="bgColor"></div>
                    <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor
                        incididunt.. </p>
                    <div class="log-in mt-md-4 mt-3">
                        <a class="btn text-uppercase" data-blast="bgColor" href="/static/#">
                            Read More</a>
                    </div>

                </div>
            </div>
            <div class="row choose-main mb-lg-4">
                <div class="col-lg-6 galsses-grid-right mt-lg-4">
                    <!----
                <h5>
                    <span class="post-color">21</span> May 2019</h5>
                 <!---->
                    <h4 class="post mt-3">Lorem ipsum dolor sit amet, adipisicing elit sedc</h4>
                    <div class="line" data-blast="bgColor"></div>
                    <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor
                        incididunt.. </p>
                    <div class="log-in mt-md-4 mt-3">
                        <a class="btn text-uppercase" data-blast="bgColor" href="/static/#">
                            Read More</a>
                    </div>
                </div>
                <div class="col-lg-6 galsses-grid-right mt-lg-4">
                    <div class="galsses-grid-left">
                        <figure class="effect-lexi">
                            <img src="/static/images/6.jpg" alt="" class="img-fluid">
                            <figcaption>
                                <h3>Pet
                                    <span data-blast="color">Playing</span>

                                </h3>
                                <p data-blast="color"> Service 3</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="row choose-main mt-lg-4 mt-3">
                <div class="col-lg-6 galsses-grid-right mt-lg-4">
                    <div class="galsses-grid-left">
                        <figure class="effect-lexi">
                            <img src="/static/images/7.jpg" alt="" class="img-fluid">
                            <figcaption>
                                <h3>Pet
                                    <span data-blast="color">Feeding</span>

                                </h3>
                                <p data-blast="color"> Service 4</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-lg-6 galsses-grid-right mt-4 last-gd">

                    <h4 class="post mt-3">Lorem ipsum dolor sit amet, adipisicing elit sedc</h4>
                    <div class="line" data-blast="bgColor"></div>
                    <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor
                        incididunt.. </p>
                    <div class="log-in mt-md-4 mt-3">
                        <a class="btn text-uppercase" data-blast="bgColor" href="/static/#">
                            Read More</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>










<section class="banner-bottom-wthree py-md-5 py-3" id="gallery">
    <div class="container">
        <div class="inner-sec-w3layouts py-md-5 py-3">
            <h3 class="tittle text-center mb-lg-5 mb-3">
                <span data-blast="color">Latest</span> Photos</h3>
            <div class="row gallery_grid-more project-grids">
                <div class="col-md-3 p-0 pr-2 col-sm-3 col-6 personal_gallery_grid1 hover14 column">
                    <div class="personal_gallery_effect">
                        <a href="/static/images/g1.jpg" data-lightbox="example-set"
                            data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <figure>
                                <img src="/static/images/g1.jpg" alt=" " class="img-fluid" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 p-0 pr-2 col-sm-3 col-6 personal_gallery_grid1 hover14 column">
                    <div class="personal_gallery_effect">
                        <a href="/static/images/g2.jpg" data-lightbox="example-set"
                            data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <figure>
                                <img src="/static/images/g2.jpg" alt=" " class="img-fluid" />
                            </figure>
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 p-0 col-sm-6 col-12 pt-sm-0 pt-2 personal_gallery_grid1 hover14 column">
                    <div class="personal_gallery_effect">
                        <a href="/static/images/g3.jpg" data-lightbox="example-set"
                            data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <figure>
                                <img src="/static/images/g3.jpg" alt=" " class="img-fluid" />
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row gallery_grid-more">
                <div
                    class="col-md-6 p-0 col-sm-6 col-12 pt-sm-0 pt-2 personal_gallery_grid1 view_gallery_grid1 hover14 column">
                    <div class="personal_gallery_effect">
                        <a href="/static/images/g4.jpg" data-lightbox="example-set"
                            data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <figure>
                                <img src="/static/images/g4.jpg" alt=" " class="img-fluid" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 pt-2 pl-2 p-0 col-sm-3 col-6 personal_gallery_grid1 hover14 column">
                    <div class="personal_gallery_effect">
                        <a href="/static/images/g5.jpg" data-lightbox="example-set"
                            data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <figure>
                                <img src="/static/images/g5.jpg" alt=" " class="img-fluid" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 pt-2 pl-2 p-0 col-sm-3 col-6 personal_gallery_grid1 hover14 column">
                    <div class="personal_gallery_effect">
                        <a href="/static/images/g6.jpg" data-lightbox="example-set"
                            data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <figure>
                                <img src="/static/images/g6.jpg" alt=" " class="img-fluid" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
</section>